*.iml
.gradle
.idea
.DS_Store
/**/build/*
/captures
/local.properties
.externalNativeBuild

/fastlane/service_credentials_file_dev.json
/fastlane/service_credentials_file_prod.json
/**/google-services.json
